.signup {
    display: grid;
    place-items: center;
    height: 100vh;
}


.signup > div {
    display: flex;
    flex-direction: column;
}


.signup > div > img {
    object-fit: contain;
    height: 150px;
}


.signup > form > button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
  }

.signup__input {
    font-size: 17px;
    padding: 16px 18px;
    border: 1px solid #ccd0d5;
    margin-bottom: 30px;
    width: 300px;
  }