.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > form > button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
}

.login > form > button:hover {
  background-color: white;
  color: #2e81f4;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 70px;
  align-items: center;
}

.login__input {
  font-size: 17px;
  padding: 16px 18px;
  border: 1px solid #ccd0d5;
  margin-bottom: 40px;
  width: 300px;
}
